/*Base*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: aqua; 
    border-radius: 10px;
  }
body{
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size:100% ;
    background-position: center;
    background-color: #000;
    user-select: none;
    background-size: cover;
}
#top{
    top: 0;
}
.bg1{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}
.bg2{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 118vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}
.bg3{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 236vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}
.bg4{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 356vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
    overflow: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    user-select: none;
    background-color: #000;
}
.logo{
    font-size: 2em;
    color: #fff;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .common::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    padding: 13px 41px 13px 42px;
}
.navigation .popup:hover{
    background: #fff;
    color: #252525;
}

/*Home*/
.pm{
    width: 15%;
    height: max-content;
    position: relative;
    top: 50vh;
    background-color: #fff;
    border-radius: 12px;
    border: #fff 2px solid;
    overflow: hidden;
}
.pm img{
    width: 100%;
}
/*About*/
#about_us{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 115vh;
    display: flex;
    justify-content: center;
}
#about_us h1{
    color: #fff;
    font-weight: 500;
    font-size: 500%;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
}
#about_us hr{
    position: absolute;
    top: 200px;
    height: 5px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
}
#about_us p{
    width: 90%;
    color: #fff;
    font-weight: 500;
    font-size: 200%;
    position: absolute;
    top: 300px;
    text-align: center;
}
/*Services*/
#services{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    top: 130vh;
}
#services  h1{
    color: #fff;
    font-weight: 500;
    font-size: 500%;
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
}
#services hr{
    position: absolute;
    top: 200px;
    height: 5px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
}
.sv_bx{
    width: 90%;
    height: 37vh;
    position: absolute;
    margin-top: 20vh;
    color: #fff;
    border: 2px solid;
    border-radius: 30px;
    background-color: #252525;
    overflow: hidden;
}
.sv_bx h2{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 2%;
}
.sv_bx2{
    width: 90%;
    height: 37vh;
    position: absolute;
    margin-top: 60vh;
    color: #fff;
    border: 2px solid;
    border-radius: 30px;
    background-color: #252525;
    overflow: hidden;
}
.sv_bx2 h2{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 2%;
}
.box{
    position: absolute;
    left: 10%;
    width: 80%;
    font-size: 1.5em;
    font-weight: 500;
}
/*Contact*/
#contact{
    width: 100%;
    height: 100vh;
    position: relative;
    top: 150vh;
    display: flex;
    justify-content: center;
}
#contact  h1{
    color: #fff;
    font-weight: 500;
    font-size: 500%;
    position: absolute;
    top: 350px;
    display: flex;
    justify-content: center;
}
#contact hr{
    position: absolute;
    top: 450px;
    height: 5px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
}
.cbox{
    width: 90%;
    height: 30vh;
    background-color: #252525;
    position: relative;
    top: 500px;
    border-radius: 30px;
    border: 2px solid #fff;
}
.cbox h2{
    color: #fff;
    font-weight: 500;
    font-size: 300%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 10px;
}
.cbox h3{
    color: #fff;
    font-weight: 500;
    font-size: 600%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 70px;
    text-decoration: underline 2px;
    user-select: all;
}
@media (min-width: 3px) and (max-width: 1200px) {
    body{
        font-size: 0.5em;
        background-position: center;
        background-size: cover;

    }
    .bg2{
        top: 101vh;
        height: 600px;
    }
    .bg3{
        top: 202vh;
        height: 600px;
    }
    .bg4{
        top: 303vh;
        height: 600px;
    }
    header{
        height: 45px;
        padding: 10px 5px;
        justify-content: space-around;
    }
    .navigation a{
        margin-left: 8px;
    }
    .navigation .common::after{
        bottom: -5px;
        height: 1px;
    }
    .navigation .popup{
        margin-left: 12px;
        padding: 7px 21px 7px 21px;
    }
    /*Home*/
    .pm{
        width: 20vh;
    }
    .Sign{
        top: 105vh;
    }
    /*About*/
    #about_us{
        top: 100vh;
    }
    #about_us h1{
        top: 40px;
    }
    #about_us hr{
        height: fit-content;
        width: 200px;
        top: 100px;
    }
    #about_us p{
        top: 150px;
    }
    /*services*/
    #services{
        top: 110vh;
    }
    #services h1{
        top: 40px;
    }
    #services hr{
        height: fit-content;
        width: 200px;
    }
    .box_var{
        width: 100%;
        text-align: center;
        margin-top: 16%;
    }
    .var{
        padding: 10px;
        border: 2px solid;
        text-decoration: none;
        color: #fff;
        transition: .5s;
    }
    .sv_bx{
        margin-top: 15vh;
        height: 27vh;
    }
    .sv_bx h2{
        padding-top: 2vh;
    }
    .sv_bx2{
        margin-top: 44vh;
        height: 27vh;
    }
    .sv_bx2 h2{
        padding-top: 2vh;
    }
    .box{
        position: absolute;
        left: 10%;
        width: 80%;
        font-size: 1.5em;
        font-weight: 500;
    }
    /*Contact*/
    #contact{
        top: 80vh;
    }
    #contact h1{
        top: 300px;
    }
    #contact hr{
        top: 400px;
        height: fit-content;
        width: 200px;
    }
    .cbox{
        top: 450px;
    }
    .cbox h2{
        font-size: 500%;
    }
    .cbox h3{
        font-size: 300%;
    }
  }
