/*Base*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: aqua; 
    border-radius: 10px;
  }
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./img/bg.png) ;
    background-repeat: no-repeat;
    background-size:100% ;
    background-position: center;
    background-color: #000;
    user-select: none;
    background-size: cover;
}
.bg2{
    width: 100%;
    height: 1632px;
    position: absolute;
    top: 110vh;
    display: flex;
    justify-content: center;
    object-fit: cover;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    user-select: none;
    background-color: #000;
}
.logo{
    font-size: 2em;
    color: #fff;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigation .common::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}
.navigation a:hover::after{
    transform: scaleX(1);
}
.navigation .popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    padding: 13px 41px 13px 42px;
}
.navigation .popup:hover{
    background: #fff;
    color: #000;
}

/*Home*/
.Sign{
    position: absolute;
    top: 120vh;
    color: #fff;
    font-size: 6em;
}
.pm{
    width: 20%;
    position: absolute;
    top: 150vh;
    background-color: #fff;
    border-radius: 12px;
    border: #fff 2px solid;
    overflow: hidden;
}
.pm img{
    width: 100%;
}
/*About*/
.bg{
    width: 60%;
    height: 210vh;
    backdrop-filter: blur(10px) ;
    position: absolute;
    top: 90px;
    border:2px solid #000 ;
    display: flex;
    justify-content: center;
}
.bg h1{
    color: #fff;
    font-weight: 500;
    font-size: 500%;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
}
.bg hr{
    position: absolute;
    top: 90px;
    height: 5px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
}
.bg .sz{
    width: 90%;
    position: absolute;
    top: 200px;
    text-align: center;
}
.bg .sz p{
    color: #fff;
    font-weight: 500;
    font-size: 2em;
    
}
.kep{
    background-color: #000;
    border-radius: 110px;
    width: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden ;
    position: absolute;
    left: 2.5vh;
    top: .5vh;
}
.sz_us{
    color: #fff;
    font-weight: 500;
    position: absolute;
    top: 16vh;
}
.sz_us h3{
    font-size: 2em;
}
.kep img{
    width: 25vh;
}
.kep p{
    color: #fff;
    font-weight: 500;
    font-size: .5em;
    
}
.sz_us{
    width: 100%;
    text-align: center;
    position: relative;
}
.norbi{
    width: 20vh;
    height: 30vh;
    position: absolute;
    left: 15vh;
    top: 100vh;
    text-align: center;
}
.Tibi{
    width: 20vh;
    height: 30vh;
    position: absolute;
    right: 15vh;
    top: 100vh;
    text-align: center;
}
.Mark{
    width: 20vh;
    height: 30vh;
    position: absolute;
    left: 15vh;
    top: 140vh;
    text-align: center;
}
.Marci{
    width: 20vh;
    height: 30vh;
    position: absolute;
    right: 15vh;
    top: 140vh;
    text-align: center;
}
/*Services*/
.bg_sv{
    width: 60%;
    height: 100vh;
    backdrop-filter: blur(10px) ;
    position: absolute;
    top: 90px;
    border:2px solid #000;
    display: flex;
    justify-content: center;
}
.bg_sv h1{
    color: #fff;
    font-weight: 500;
    font-size: 500%;
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: center;
}
.bg_sv hr{
    position: absolute;
    top: 90px;
    height: 5px;
    width: 400px;
    background-color: #fff;
    border-radius: 6px;
}
.box_var{
    width: 100%;
    margin-top: 5%;
    text-align: center;
}
.var{
    padding: 20px;
    border: 2px solid;
    text-decoration: none;
    color: #fff;
    transition: .5s;
}
.var:hover{
    color: aqua;
    background-color: #000;
}
.var::after{
    content: '';
    background-color: #000;
    width: 100%;
    height: 100%;
}
.var span{
    transition: .2s margin;
}
.var:hover span{
    margin-left: 10px;
}
.sv_bx{
    width: 90%;
    height: 35%;
    position: absolute;
    margin-top: 15vh;
    color: #fff;
    border: 2px solid;
    border-radius: 60px;
    background-color: #000;
    overflow: hidden;
}
.sv_bx h2{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 2%;
}
.sv_bx2{
    width: 90%;
    height: 35%;
    position: absolute;
    margin-top: 55vh;
    color: #fff;
    border: 2px solid;
    border-radius: 60px;
    background-color: #000;
    overflow: hidden;
}
.sv_bx2 h2{
    text-align: center;
    font-size: 3em;
    font-weight: 500;
    margin-top: 1%;
    margin-bottom: 2%;
}
.box{
    position: absolute;
    left: 10%;
    width: 80%;
    font-size: 1.5em;
    font-weight: 500;
}
/*Contact*/
.bg_co{
    width: 60%;
    height: 100vh;
    backdrop-filter: blur(10px) ;
    position: absolute;
    top: 90px;
    border:2px solid #000;
    display: flex;
    justify-content: center;
    color: #fff;
}
.email{
    position: fixed;
    top: 10%;
    text-align: center;
}
.email h2{
    font-size: 3em;
    font-weight: 500;
    margin-bottom: 5%;
}
.name{
    width: 50vh;
    height: max-content;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    display: flex;
    justify-content: start;
}
.mail{
    width: 50vh;
    height: max-content;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    display: flex;
    justify-content: start;
}
.comment{
    width: 50vh;
    height: max-content;
    border-radius: 6px;
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
    resize: none;
}
.send{
    width: 100%;
    padding: 20px;
    border: 2px solid;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    transition: .5s;
    background: transparent;
}
.send:hover{
    color: aqua;
    background-color: #000;
}
@media (min-width: 3px) and (max-width: 1200px) {
    body{
        font-size: 0.5em;
        background-position: center;
        background-size: cover;

    }
    .bg2{
        top: 101vh;
        height: 600px;
    }
    header{
        padding: 10px 5px;
        justify-content: space-around;
    }
    .navigation a{
        margin-left: 8px;
    }
    .navigation .common::after{
        bottom: -5px;
        height: 1px;
    }
    .navigation .popup{
        margin-left: 12px;
        padding: 7px 21px 7px 21px;
    }
    /*Home*/
    .pm{
        top: 115vh;
        width: 20vh;
    }
    .Sign{
        top: 105vh;
    }
    /*About*/
    .bg{
        height: 144vh;
    }
    .bg hr{
        height: fit-content;
        width: 200px;
    }
    .bg h1{
        top: 40px;
    }
    .norbi{
        width: 10vh;
        height: 15vh;
        position: absolute;
        left: 2vh;
        top: 85vh;
        text-align: center;
    }
    .Tibi{
        width: 10vh;
        height: 15vh;
        position: absolute;
        right: 2vh;
        top: 85vh;
        text-align: center;
    }
    .Mark{
        width: 10vh;
        height: 15vh;
        position: absolute;
        left: 2vh;
        top: 100vh;
        text-align: center;
    }
    .Marci{
        width: 10vh;
        height: 15vh;
        position: absolute;
        right: 2vh;
        top: 100vh;
        text-align: center;
    }
    .sz_us{
        top: 8vh;
    }
    .kep{
        width: 5vh;
        height: 5vh;
        left: 2.5vh;
        top: 2vh;
    }
    .kep img{
        width: 8vh;
    }
    /*services*/
    .bg_sv{
        height: 89vh;
    }
    .bg_sv h1{
        top: 40px;
    }
    .bg_sv hr{
        height: fit-content;
        width: 200px;
    }
    .box_var{
        width: 100%;
        text-align: center;
        margin-top: 20%;
    }
    .var{
        padding: 10px;
        border: 2px solid;
        text-decoration: none;
        color: #fff;
        transition: .5s;
    }
    .sv_bx{
        margin-top: 15vh;
    }
    .sv_bx2{
        margin-top: 50vh;
    }
    .sv_bx2 h2{
        text-align: center;
        font-size: 3em;
        font-weight: 500;
        margin-top: 1%;
        margin-bottom: 2%;
    }
    .box{
        position: absolute;
        left: 10%;
        width: 80%;
        font-size: 1.5em;
        font-weight: 500;
    }
    /*Contact*/
    .bg_co{
        height: 89vh;
    }
    .comment{
        width: 90%;
    }
    .send{
        width: 90%;
    }
  }
